<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Edit Marks</h2>

    <form method="post" class="border p-4 rounded bg-light shadow-sm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-3">Update Marks</button>
        <a href="{% url 'faculty_dashboard' %}" class="btn btn-secondary mt-3">Back</a>
    </form>
</div>
{% endblock %}
</body>
</html>