<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <h2 class="mb-3 text-center">Faculty Registration</h2>
        <form method="post" class="border p-4 bg-dark text-light rounded shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success w-100">Register</button>
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>