<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <h3>Add Marks for {{ student.user.username }}</h3>

    <label>Subject:</label>
    <input type="text" name="subject" required><br>

    <label>CT 1:</label>
    <input type="number" name="ct1" step="0.01"><br>

    <label>CT 2:</label>
    <input type="number" name="ct2" step="0.01"><br>

    <label>CT 3:</label>
    <input type="number" name="ct3" step="0.01"><br>

    <label>Mid:</label>
    <input type="number" name="mid" step="0.01"><br>

    <label>Final:</label>
    <input type="number" name="final" step="0.01"><br>

    <button type="submit">Save Marks</button>
</form>
</body>
</html>