<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username" required><br>

    <label>Email:</label>
    <input type="email" name="email" required><br>

    <label>Password:</label>
    <input type="password" name="password" required><br>

    <label>Department:</label>
    <input type="text" name="department"><br>

    <label>Year:</label>
    <input type="text" name="year"><br>

    <button type="submit">Register</button>
</form>
</body>
</html>